<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link
      href="https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    >
    <!-- Remix-Icon css-->
    <link rel="stylesheet" href="../assets/css/vendors/remixicon.css" >
    <!-- Swiper Slider css-->
    <link
      rel="stylesheet"
      href="../assets/css/vendors/swiper-slider/swiper-slider.css"
    >
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="../assets/css/vendors/bootstrap.css" >
    <!-- Style css-->
    <link rel="stylesheet" href="../assets/css/style.css" >
    <link rel="icon" href="../assets/images/logo/favicon1.png" >
    <title>Document</title>
  </head>
  <body>
    <!-- *** header *** -->
    <header class="bg-color">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-burger-icon">
              <i class="ri-menu-line"></i>
            </span>
          </button>
          <a class="navbar-brand" href="index.html">
            <img
              src="../assets/images/logo/logo-light.png"
              class="img-fluid"
              alt="logo"
            >
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="index.html"
                  target="_blank"
                  >HOME</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"
                  >PRODUCT <i class="ri-arrow-down-s-line"></i
                ></a>
                <ul class="sub-items">
                  <li>
                    <a href="productlist.html" target="_blank">PRODUCT-LIST</a>
                  </li>
                  <li><a href="productdetail.html">PRODUCT-DETAIL</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-disabled="true"
                  >PAGES <i class="ri-arrow-down-s-line"></i
                ></a>
                <ul class="sub-items">
                  <li><a href="#!">CONTACT US</a></li>
                  <li><a href="#!">ABOUT US</a></li>
                  <li><a href="#!">ABOUT ME</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-disabled="true"
                  >MEGA MENU <i class="ri-arrow-down-s-line"></i
                ></a>
                <ul class="sub-items mega-menu">
                  <li>
                    <div class="row g-0 g-xl-4">
                      <div class="col-12 col-lg-3">
                        <div class="link-section">
                          <div class="menu-title">
                            <h5>
                              Arabica <i class="ri-arrow-down-s-line"></i>
                            </h5>
                          </div>
                          <div class="menu-content">
                            <ul>
                              <li><a href="#!">Decaffeinated Coffee</a></li>
                              <li><a href="#!">Dried Pure Coffee</a></li>
                              <li><a href="#!">Special Coffee</a></li>
                              <li><a href="#!">Black Coffee</a></li>
                              <li><a href="#!">60 Degree Coffee</a></li>
                              <li><a href="#!">Blended Coffee</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-3">
                        <div class="link-section">
                          <div class="menu-title">
                            <h5>
                              Robusta <i class="ri-arrow-down-s-line"></i>
                            </h5>
                          </div>
                          <div class="menu-content">
                            <ul>
                              <li><a href="#!">Gold Filter Coffee</a></li>
                              <li><a href="#!">Lemon Flavor Coffee</a></li>
                              <li><a href="#!">Xtra Roasted Coffee</a></li>
                              <li><a href="#!">Fresh Green Coffee</a></li>
                              <li><a href="#!">Jamu Coffee</a></li>
                              <li><a href="#!">Insta Coffee</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-3">
                        <div class="link-section">
                          <div class="menu-title">
                            <h5>
                              Liberica <i class="ri-arrow-down-s-line"></i>
                            </h5>
                          </div>
                          <div class="menu-content">
                            <ul>
                              <li><a href="#!">Rich Aroma Coffee</a></li>
                              <li><a href="#!">Grounded Coffee</a></li>
                              <li><a href="#!">Aroma Coffee</a></li>
                              <li><a href="#!">Rambo Coffee</a></li>
                              <li><a href="#!">Bean Filter Coffee</a></li>
                              <li><a href="#!">Refresher Coffee</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-lg-3">
                        <img
                          src="../assets/images/mega-menu/1.jpeg"
                          class="img-fluid"
                          alt="menu1"
                        >
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <ul class="header-icons">
              <li>
                <button
                  class="btn"
                  type="button"
                  data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight"
                >
                  <i class="ri-shopping-cart-2-line"></i>
                </button>
              </li>
              <li>
                <a href="#!"><i class="ri-search-line"></i></a>
              </li>
              <li class="nav-item">
                <a href="#!" class="nav-link"><i class="ri-user-3-line"></i></a>
                <ul class="sub-items nav-icon">
                  <li><a href="logIn.html" target="_blank">LogIn</a></li>
                  <li><a href="register.html" target="_blank">Register</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- *** cart-offcanvas *** -->
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasRight"
      aria-labelledby="offcanvasRightLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">MY CART( 3 )</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <span>3 items</span>
        <div class="progress" role="progressbar">
          <div
            class="progress-bar progress-bar-striped progress-bar-animated"
            style="width: 58.08%"
          >
            <div class="cart-icon">
              <i class="ri-truck-line"></i>
            </div>
          </div>
        </div>
        <p class="clear">Clear Cart</p>
        <ul class="cart-product">
          <li>
            <div class="img-detail">
              <img
                src="../assets/images/product/p1.1.webp"
                class="img-fluid"
                alt="cart1"
                
              >
              <div class="info">
                <h6>Couture Edge</h6>
                <p>1 X $6.74</p>
              </div>
            </div>
            <div class="edit-delete-wrap">
              <div class="edit-delete">
                <div class="icon-box"><i class="ri-pencil-line"></i></div>
                <div class="icon-box"><i class="ri-delete-bin-6-line"></i></div>
              </div>

              <div class="input-group">
                <span class="input-group-text">-</span>
                <input
                  type="text"
                  class="form-control"
                  value="1"
                  aria-label="Amount (to the nearest dollar)"
                >
                <span class="input-group-text">+</span>
              </div>
            </div>
          </li>
          <li>
            <div class="img-detail">
              <img
                src="../assets/images/product/p1.1.webp"
                class="img-fluid"
                alt="cart1"
              >
              <div class="info">
                <h6>Couture Edge</h6>
                <p>1 X $6.74</p>
              </div>
            </div>
            <div class="edit-delete-wrap">
              <div class="edit-delete">
                <div class="icon-box"><i class="ri-pencil-line"></i></div>
                <div class="icon-box"><i class="ri-delete-bin-6-line"></i></div>
              </div>

              <div class="input-group">
                <span class="input-group-text">-</span>
                <input
                  type="text"
                  value="1"
                  class="form-control"
                  aria-label="Amount (to the nearest dollar)"
                >
                <span class="input-group-text">+</span>
              </div>
            </div>
          </li>
          <li>
            <div class="img-detail">
              <img
                src="../assets/images/product/p1.1.webp"
                class="img-fluid"
                alt="cart1"
                >
              <div class="info">
                <h6>Couture Edge</h6>
                <p>1 X $6.74</p>
              </div>
            </div>
            <div class="edit-delete-wrap">
              <div class="edit-delete">
                <div class="icon-box"><i class="ri-pencil-line"></i></div>
                <div class="icon-box"><i class="ri-delete-bin-6-line"></i></div>
              </div>

              <div class="input-group">
                <span class="input-group-text">-</span>
                <input
                  type="text"
                  class="form-control"
                  value="1"
                  aria-label="Amount (to the nearest dollar)"
                >
                <span class="input-group-text">+</span>
              </div>
            </div>
          </li>
        </ul>
        <ul class="final-cart">
          <li class="cart-amount">
            <h6>Sub Total:</h6>
            <h6 class="price">$36.74</h6>
          </li>
          <li class="checkout">
            <a href="#!">View Cart</a>
            <a href="checkout.html">Check Out</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- *** product-detail *** -->
    <section class="product-detail-section section-block-space">
      <div class="container">
        <div class="row">
          <div class="col-5 prd-detail-slider">
            <div
              style="
                --swiper-navigation-color: #fff;
                --swiper-pagination-color: #fff;
              "
              class="swiper product-detail2"
            >
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/product/p1.1.webp" alt="slider1">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/product/p2.1.webp" alt="slider1">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/product/p3.1.webp" alt="slider1">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/product/p2.1.webp" alt="slider1">
                </div>
              </div>
            </div>
            <!-- <div class="swiper-button-next"><i class="ri-arrow-right-s-line"></i></div>
            <div class="swiper-button-prev"><i class="ri-arrow-left-s-line"></i></div> -->
            <div class="swiper product-detail">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="../assets/images/product/p1.1.webp" alt="thumblider">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/product/p2.1.webp" alt="thumblider">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/product/p3.1.webp" alt="thumblider">
                </div>
                <div class="swiper-slide">
                  <img src="../assets/images/product/p2.1.webp" alt="thumblider">
                </div>
              </div>
            </div>
          </div>
          <div class="col-7">
            <div class="product-detail-box">
              <span class="offer">30% off</span>
              <h3>Rich Aroma Coffee</h3>
              <div class="price">
                <h5>$280.5</h5>
                <del>$300.2</del>
                <h6>(8% off)</h6>
              </div>
              <div class="rating">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-line"></i>
                <span>(24review)</span>
              </div>
              <ul class="prd-detail">
                <li>
                  The aroma of coffee depends on the degree of roast, with
                  darker roasts being bolder and having a more sugary flavor.
                </li>
                <li>
                  Lighter roasts have a more complex flavor from aromatic oils
                  and acids.
                </li>
              </ul>
              <h4>weight</h4>
              <ul class="weight-box">
                <li class="active">250gm</li>
                <li>500gm</li>
                <li>750gm</li>
                <li>1 kg</li>
                <li>2 kg</li>
              </ul>
              <h4>Quantity:</h4>
              <div class="input-group">
                <button class="btn"><i class="ri-add-fill"></i></button>
                <input type="text" class="form-control" value="1" >
                <button class="btn"><i class="ri-subtract-line"></i></button>
              </div>
              <ul class="extra-detail">
                <li>SKU:<span>PR111-2</span></li>
                <li>CATEGORY:<span>Fresh Coffee</span></li>
                <li>TAGS:<span>Black,Casual,Classic</span></li>
                <li>
                  SHARE:<span
                    ><i class="ri-facebook-fill"></i
                    ><i class="ri-twitter-x-fill"></i
                    ><i class="ri-instagram-line"></i
                    ><i class="ri-linkedin-fill"></i
                  ></span>
                </li>
              </ul>
              <button class="btn addtocart">
                <i class="ri-shopping-cart-2-line"></i>ADD TO CART
              </button>
              <div class="delivery-detail">
                <h6>Delivery Detail</h6>
                <p>
                  <i class="ri-truck-line"></i> Your order is likely to reach
                  you within 7 days.
                </p>
                <p>
                  <i class="ri-arrow-left-right-line"></i> Hassle free returns
                  within 7 Days.
                </p>
              </div>
              <div class="payment">
                <h6>Guaranteed Safe Checkout</h6>
                <img
                  src="../assets/images/footer-visa/1.png"
                  class="img-fluid"
                  alt="p1"
                >
                <img
                  src="../assets/images/footer-visa/2_2.png"
                  class="img-fluid"
                  alt="p2"
                >
                <img
                  src="../assets/images/footer-visa/3_3.png"
                  class="img-fluid"
                  alt="p3"
                >
                <img
                  src="../assets/images/footer-visa/4_4.png"
                  class="img-fluid"
                  alt="p4"
                >
                <img
                  src="../assets/images/footer-visa/5_5.png"
                  class="img-fluid"
                  alt="p5"
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="product-section-box">
        <div class="container">
          <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="description-tab"
                data-bs-toggle="tab"
                data-bs-target="#description"
                type="button"
                role="tab"
              >
                Description
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="info-tab"
                data-bs-toggle="tab"
                data-bs-target="#info"
                type="button"
                role="tab"
              >
                Additional info
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="care-tab"
                data-bs-toggle="tab"
                data-bs-target="#care"
                type="button"
                role="tab"
              >
                Care Instructions
              </button>
            </li>

            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="review-tab"
                data-bs-toggle="tab"
                data-bs-target="#review"
                type="button"
                role="tab"
              >
                Review
              </button>
            </li>
          </ul>
          <div class="tab-content custom-tab" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="description"
              role="tabpanel"
            >
              <div class="product-description">
                <div class="nav-desh">
                  <p>
                    Jelly beans carrot cake icing biscuit oat cake gummi bears
                    tart. Lemon drops carrot cake pudding sweet gummi bears.
                    Chocolate cake tart cupcake donut topping liquorice sugar
                    plum chocolate bar. Jelly beans tiramisu caramels jujubes
                    biscuit liquorice chocolate. Pudding toffee jujubes oat cake
                    sweet roll. Lemon drops dessert croissant danish cake
                    cupcake. Sweet roll candy chocolate toffee jelly sweet roll
                    halvah brownie topping. Marshmallow powder candy sesame
                    snaps jelly beans candy canes marshmallow gingerbread pie.
                  </p>
                  <h6>Organic:</h6>
                  <p>
                    vitae et leo duis ut diam quam nulla porttitor massa id
                    neque aliquam vestibulum morbi blandit cursus risus at
                    ultrices mi tempus imperdiet nulla malesuada pellentesque
                    elit eget gravida cum sociis natoque penatibus et magnis dis
                    parturient montes nascetur ridiculus mus mauris vitae
                    ultricies leo integer malesuada nunc vel risus commodo
                    viverra maecenas accumsan lacus vel facilisis volutpat est
                    velit egestas dui id ornare arcu odio ut sem nulla pharetra
                    diam sit amet nisl suscipit adipiscing bibendum est
                    ultricies integer quis auctor elit sed vulputate mi sit amet
                    mauris commodo quis imperdiet massa tincidunt nunc pulvinar
                    sapien et ligula ullamcorper malesuada proin libero nunc
                    consequat interdum varius sit amet mattis vulputate enim
                    nulla aliquet porttitor lacus luctus accumsan.
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="info" role="tabpanel">
              <div class="table-responsive">
                <table class="table info-table">
                  <tbody>
                    <tr>
                      <td>Specialty</td>
                      <td>Vegetarian</td>
                    </tr>
                    <tr>
                      <td>Ingredient Type</td>
                      <td>Vegetarian</td>
                    </tr>
                    <tr>
                      <td>Brand</td>
                      <td>Lavian Exotique</td>
                    </tr>
                    <tr>
                      <td>Form</td>
                      <td>Bar Brownie</td>
                    </tr>
                    <tr>
                      <td>Package Information</td>
                      <td>Box</td>
                    </tr>
                    <tr>
                      <td>Manufacturer</td>
                      <td>Prayagh Nutri Product Pvt Ltd</td>
                    </tr>
                    <tr>
                      <td>Item part number</td>
                      <td>LE 014 - 20pcs Crème Bakes (Pack of 2)</td>
                    </tr>
                    <tr>
                      <td>Net Quantity</td>
                      <td>40.00 count</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="care" role="tabpanel">
              <div class="information-box">
                <ul>
                  <li>
                    Store cream cakes in a refrigerator. Fondant cakes should be
                    stored in an air conditioned environment.
                  </li>

                  <li>
                    Slice and serve the cake at room temperature and make sure
                    it is not exposed to heat.
                  </li>

                  <li>Use a serrated knife to cut a fondant cake.</li>

                  <li>
                    Sculptural elements and figurines may contain wire supports
                    or toothpicks or wooden skewers for support.
                  </li>

                  <li>
                    Please check the placement of these items before serving to
                    small children.
                  </li>

                  <li>The cake should be consumed within 24 hours.</li>

                  <li>Enjoy your cake!</li>
                </ul>
              </div>
            </div>
            <div class="tab-pane fade" id="review" role="tabpanel">
              <div class="review-box">
                <div class="row">
                  <div class="col-5">
                    <div class="overall-rating-box">
                      <h3>3.40</h3>
                      <i class="ri-star-fill"></i>
                      <p>5 Overall Rating</p>
                    </div>
                    <div class="rating-progress">
                      <div class="rate-progress">
                        <p>5 <i class="ri-star-fill"></i></p>
                        <div
                          class="progress"
                          role="progressbar"
                          aria-label="Basic example"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          <div class="progress-bar" style="width: 75%"></div>
                        </div>
                        <span>2</span>
                      </div>
                      <div class="rate-progress">
                        <p>4 <i class="ri-star-fill"></i></p>
                        <div
                          class="progress"
                          role="progressbar"
                          aria-label="Basic example"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          <div
                            class="progress-bar bg-success"
                            style="width: 50%"
                          ></div>
                        </div>
                        <span>2</span>
                      </div>
                      <div class="rate-progress">
                        <p>3 <i class="ri-star-fill"></i></p>
                        <div
                          class="progress"
                          role="progressbar"
                          aria-label="Basic example"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          <div class="progress-bar" style="width: 0%"></div>
                        </div>
                        <span>0</span>
                      </div>
                      <div class="rate-progress">
                        <p>2 <i class="ri-star-fill"></i></p>
                        <div
                          class="progress"
                          role="progressbar"
                          aria-label="Basic example"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          <div
                            class="progress-bar bg-warning"
                            style="width: 25%"
                          ></div>
                        </div>
                        <span>1</span>
                      </div>
                      <div class="rate-progress">
                        <p>1 <i class="ri-star-fill"></i></p>
                        <div
                          class="progress"
                          role="progressbar"
                          aria-label="Basic example"
                          aria-valuenow="75"
                          aria-valuemin="0"
                          aria-valuemax="100"
                        >
                          <div
                            class="progress-bar bg-danger"
                            style="width: 25%"
                          ></div>
                        </div>
                        <span>1</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-7">
                   <div class="tab-review-wrapper">
                    <div class="review-wrapper">
                      <div class="review-img">
                        <img
                          src="../assets/images/review/r2.svg"
                          class="img-fluid"
                          alt="review1"
                        >
                      </div>
                      <div class="review-detail">
                        <div class="review-top">
                          <div>
                            <h6>JackDoe <span>29 Sep 2023 06:40:PM</span></h6>
                          </div>
                          <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                          </div>
                        </div>
                        <p>Avoid this product. The quality is terrible, and it started falling apart almost immediately. I wish I had read more reviews before buying. Lesson learned.</p>
                      </div>
                    </div>
                    <div class="review-wrapper">
                      <div class="review-img">
                        <img
                          src="../assets/images/review/r3.png"
                          class="img-fluid"
                          alt="review1"
                        >
                      </div>
                      <div class="review-detail">
                        <div class="review-top">
                          <div>
                            <h6>JackDoe <span>29 Sep 2023 06:40:PM</span></h6>
                          </div>
                          <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                          </div>
                        </div>
                        <p>Avoid this product. The quality is terrible, and it started falling apart almost immediately. I wish I had read more reviews before buying. Lesson learned.</p>
                      </div>
                    </div>
                    <div class="review-wrapper">
                      <div class="review-img">
                        <img
                          src="../assets/images/review/r4.png"
                          class="img-fluid"
                          alt="review1"
                        >
                      </div>
                      <div class="review-detail">
                        <div class="review-top">
                          <div>
                            <h6>JackDoe <span>29 Sep 2023 06:40:PM</span></h6>
                          </div>
                          <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                          </div>
                        </div>
                        <p>Avoid this product. The quality is terrible, and it started falling apart almost immediately. I wish I had read more reviews before buying. Lesson learned.</p>
                      </div>
                    </div>
                    <div class="review-wrapper">
                      <div class="review-img">
                        <img
                          src="../assets/images/review/r2.svg"
                          class="img-fluid"
                          alt="review1"
                        >
                      </div>
                      <div class="review-detail">
                        <div class="review-top">
                          <div>
                            <h6>JackDoe <span>29 Sep 2023 06:40:PM</span></h6>
                          </div>
                          <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                          </div>
                        </div>
                        <p>Avoid this product. The quality is terrible, and it started falling apart almost immediately. I wish I had read more reviews before buying. Lesson learned.</p>
                      </div>
                    </div>
                    <div class="review-wrapper">
                      <div class="review-img">
                        <img
                          src="../assets/images/review/r3.png"
                          class="img-fluid"
                          alt="review1"
                        >
                      </div>
                      <div class="review-detail">
                        <div class="review-top">
                          <div>
                            <h6>JackDoe <span>29 Sep 2023 06:40:PM</span></h6>
                          </div>
                          <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                          </div>
                        </div>
                        <p>Avoid this product. The quality is terrible, and it started falling apart almost immediately. I wish I had read more reviews before buying. Lesson learned.</p>
                      </div>
                    </div>
                    <div class="review-wrapper">
                      <div class="review-img">
                        <img
                          src="../assets/images/review/r2.svg"
                          class="img-fluid"
                          alt="review1"
                        >
                      </div>
                      <div class="review-detail">
                        <div class="review-top">
                          <div>
                            <h6>JackDoe <span>29 Sep 2023 06:40:PM</span></h6>
                          </div>
                          <div class="rating">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                          </div>
                        </div>
                        <p>Avoid this product. The quality is terrible, and it started falling apart almost immediately. I wish I had read more reviews before buying. Lesson learned.</p>
                      </div>
                    </div>
                   </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- Swiper-slider js-->
    <script src="../assets/js/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/js/swiper/custom-swiper.js"></script>

    <!-- script.js  -->
  </body>
</html>
