<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <!-- google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link
      href="https://fonts.googleapis.com/css2?family=Marcellus&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    >
    <!-- Remix-Icon css-->
    <link rel="stylesheet" href="../assets/css/vendors/remixicon.css">
    <!-- Swiper Slider css-->
    <link
      rel="stylesheet"
      href="../assets/css/vendors/swiper-slider/swiper-slider.css"
    >
    <!-- Bootstrap css-->
    <link rel="stylesheet" href="../assets/css/vendors/bootstrap.css">
    <!-- Style css-->
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" href="../assets/images/logo/favicon1.png">
    <title>Register</title>
  </head>
  <body>
    <div class="register-page">
      <div class="register-wrapper">
        <div class="row">
          <div class="col-12 col-sm-5 register-img">
            <img
              src="../assets/images/login/login2.avif"
              class="img-fluid"
              alt="register1"
            >
          </div>
          <div class="col-12 col-sm-7 detail-wrap">
            <div class="register-detail">
              <img
                src="../assets/images/logo/logo-dark.png"
                class="img-fluid"
                alt="logo"
              >
              <h2>Create An Account</h2>
              <h5>
                Already have an account?<a href="logIn.html">LogIN here</a>
              </h5>
              <div class="name-input">
                <input type="text" placeholder="First-Name">
                <input type="text" placeholder="Last-Name">
              </div>
              <input type="email" placeholder="Email">
              <input type="password" placeholder="Password">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                >
                <label class="form-check-label" for="flexCheckDefault">
                  I agree with terms and Condition
                </label>
              </div>
              <button class="btn theme-btn">Create Account</button>
              <div class="social-connect">
                <div class="social-wrapper google">
                  <img
                    src="../assets/images/login/google.png"
                    class="img-fluid"
                    alt="google"
                  >
                  <h6>Google</h6>
                </div>
                <div class="social-wrapper apple">
                  <img
                    src="../assets/images/login/iphone1.png"
                    class="img-fluid"
                    alt="iphone"
                  >
                  <h6>Apple</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap js-->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- Swiper-slider js-->
    <script src="../assets/js/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/js/swiper/custom-swiper.js"></script>
    <!-- script.js  -->
    <script src="../assets/js/script.js"></script>
  </body>
</html>
