/**=====================
    Typography CSS start
==========================**/
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 32px;
}
h4{
    font-size: 30px;
}
h6{
    font-size: 24px;
}
/**=====================
    Typography CSS end
==========================**/